<!DOCTYPE html>

<html>
<!-- BEGIN: Head -->
<head>
    <meta charset="utf-8">
    <link href="~/images/logo.svg" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Rubick admin is super flexible, powerful, clean & modern responsive tailwind admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Rubick Admin Template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="LEFT4CODE">
    <title>@ViewBag.Title</title>
    <!-- BEGIN: CSS Assets-->
    <link rel="stylesheet" href="~/css/app.css" />
    <!-- END: CSS Assets-->
</head>
<!-- END: Head -->

<body class="main">
    <!-- BEGIN: Mobile Menu -->
    <div class="mobile-menu md:hidden">
        <div class="mobile-menu-bar">
            <a href="" class="flex ml-auto">
                <img alt="Rubick Tailwind HTML Admin Template" class="w-6" src="~/images/logo.svg">
            </a>
            <a href="javascript:;" id="mobile-menu-toggler"> <i data-feather="bar-chart-2" class="w-8 h-8 text-white transform -rotate-90"></i> </a>
        </div>
        <ul class="border-t border-theme-29 py-5 hidden">
            <li>
                <a href="side-menu-light-inbox.html" class="menu">
                    <div class="menu__icon"> <i data-feather="inbox"></i> </div>
                    <div class="menu__title"> صندوق ورودی </div>
                </a>
            </li>
        </ul>
    </div>
    <!-- END: Mobile Menu -->
    <div class="flex">
        <!-- BEGIN: Side Menu -->
        <nav class="side-nav">
            <a href="" class="intro-x flex items-center pr-5 pt-4">
                <img alt="Rubick Tailwind HTML Admin Template" class="w-6" src="~/images/logo.svg">
                <span class="hidden xl:block text-white text-lg mr-3">رو<span class="font-medium">بیک</span> </span>
            </a>
            <div class="side-nav__devider my-6"></div>
            <ul>
                 <li>
                    <a href="@Url.Action("Index", "Home", new { Area = "Admin" })" class="side-menu side-menu--active">
                        <div class="side-menu__icon"> <i data-feather="inbox"></i> </div>
                        <div class="side-menu__title"> صندوق ورودی </div>
                    </a>
                </li>
            </ul>
            <ul>
                 <li>
                    <a href="@Url.Action("Index", "Activity", new { Area = "Admin" })" class="side-menu side-menu--active">
                        <div class="side-menu__icon"> <i data-feather="inbox"></i> </div>
                        <div class="side-menu__title"> فعالیت ها </div>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- END: Side Menu -->
        <!-- BEGIN: Content -->
        <div class="content">
            @RenderBody()
        </div>
        <!-- END: Content -->
    </div>
    <!-- BEGIN: Dark Mode Switcher-->
    <div data-url="side-menu-dark-dashboard-overview-1.html" class="dark-mode-switcher cursor-pointer shadow-md fixed bottom-0 left-0 box dark:bg-dark-2 border rounded-full w-40 h-12 flex items-center justify-center z-50 mb-10 ml-10">
        <div class="ml-4 text-gray-700 dark:text-gray-300">حالت تیره</div>
        <div class="dark-mode-switcher__toggle border"></div>
    </div>
    <!-- END: Dark Mode Switcher-->
    <!-- BEGIN: JS Assets-->
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=[" your-google-map-api"]&libraries=places"></script>
    <script src="~/js/app.js"></script>
    <!-- END: JS Assets-->
</body>
</html>
